RewriteEngine On

# use for authentication

RewriteCond %{HTTP:Authorization} ^(.+)$
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

Header set Access-Control-Allow-Origin *

RewriteRule ^upload-photo$ core/upload-photo.php [L]
RewriteRule ^upload-multiple-photo$ core/upload-multiple-photo.php [L]

# SENDING EMAIL
RewriteRule ^sending-email$ controllers/developer/sending-email/sending-email.php [L]

# COLORS
RewriteRule ^colors$ controllers/developer/colors/colors.php [L]
RewriteRule ^colors/([0-9]+)$ controllers/developer/colors/colors.php?colorsid=$1 [L]

# LINKS
RewriteRule ^links$ controllers/developer/links/links.php [L]
RewriteRule ^links/([0-9]+)$ controllers/developer/links/links.php?linksid=$1 [L]

# CONTACT INFO
RewriteRule ^contactno$ controllers/developer/contact-no/contactNo.php [L]
RewriteRule ^contactno/([0-9]+)$ controllers/developer/contact-no/contactNo.php?contactnoid=$1 [L]

# LOGO
RewriteRule ^logo$ controllers/developer/logo/logo.php [L]
RewriteRule ^logo/([0-9]+)$ controllers/developer/logo/logo.php?logoid=$1 [L]

# BANNER
RewriteRule ^banner$ controllers/developer/banner/banner.php [L]
RewriteRule ^banner/([0-9]+)$ controllers/developer/banner/banner.php?bannerid=$1 [L]

# PROPERTY STATUS
RewriteRule ^property-status$ controllers/developer/property-status/propertyStatus.php [L]
RewriteRule ^property-status/([0-9]+)$ controllers/developer/property-status/propertyStatus.php?property_statusid=$1 [L]
RewriteRule ^property-status/active/([0-9]+)$ controllers/developer/property-status/active.php?property_statusid=$1 [L]
RewriteRule ^property-status/page/([0-9]+)$ controllers/developer/property-status/page.php?start=$1 [L]
RewriteRule ^property-status/search$ controllers/developer/property-status/search.php [L]

# PROPERTY TYPE
RewriteRule ^property-type$ controllers/developer/property-type/propertyType.php [L]
RewriteRule ^property-type/([0-9]+)$ controllers/developer/property-type/propertyType.php?property_typeid=$1 [L]
RewriteRule ^property-type/active/([0-9]+)$ controllers/developer/property-type/active.php?property_typeid=$1 [L]
RewriteRule ^property-type/page/([0-9]+)$ controllers/developer/property-type/page.php?start=$1 [L]
RewriteRule ^property-type/search$ controllers/developer/property-type/search.php [L]

# PROPERTY LIST
RewriteRule ^property-list$ controllers/developer/property-list/propertyList.php [L]
RewriteRule ^property-list/([0-9]+)$ controllers/developer/property-list/propertyList.php?listid=$1 [L]
RewriteRule ^property-list/active/([0-9]+)$ controllers/developer/property-list/active.php?listid=$1 [L]
RewriteRule ^property-list/page/([0-9]+)$ controllers/developer/property-list/page.php?start=$1 [L]
RewriteRule ^property-list/search$ controllers/developer/property-list/search.php [L]
RewriteRule ^property-list/property-type-search$ controllers/developer/property-list/search-property-type.php [L]
RewriteRule ^property-list/property-status-search$ controllers/developer/property-list/search-property-status.php [L]

# FEATURED PROPERTIES
RewriteRule ^featured-properties$ controllers/developer/featured-properties/featuredProperties.php [L]
RewriteRule ^featured-properties/([0-9]+)$ controllers/developer/featured-properties/featuredProperties.php?featured_propertiesid=$1 [L]
RewriteRule ^featured-properties/active/([0-9]+)$ controllers/developer/featured-properties/active.php?featured_propertiesid=$1 [L]
RewriteRule ^featured-properties/page/([0-9]+)$ controllers/developer/featured-properties/page.php?start=$1 [L]
RewriteRule ^featured-properties/search$ controllers/developer/featured-properties/search.php [L]
RewriteRule ^featured-properties/property-list-search$ controllers/developer/featured-properties/search-property-list.php [L]

# ABOUT
RewriteRule ^about$ controllers/developer/about/about.php [L]
RewriteRule ^about/([0-9]+)$ controllers/developer/about/about.php?aboutid=$1 [L]

# TESTIMONIAL
RewriteRule ^testimonial$ controllers/developer/testimonial/testimonial.php [L]
RewriteRule ^testimonial/([0-9]+)$ controllers/developer/testimonial/testimonial.php?testimonialid=$1 [L]

# BLOGS
RewriteRule ^blogs$ controllers/developer/blogs/blogs.php [L]
RewriteRule ^blogs/([0-9]+)$ controllers/developer/blogs/blogs.php?blogsid=$1 [L]
RewriteRule ^blogs/active/([0-9]+)$ controllers/developer/blogs/active.php?blogsid=$1 [L]
RewriteRule ^blogs/page/([0-9]+)$ controllers/developer/blogs/page.php?start=$1 [L]
RewriteRule ^blogs/search$ controllers/developer/blogs/search.php [L]

# CONTACT FORM
RewriteRule ^contact-form$ controllers/developer/contact-form/contactForm.php [L]
RewriteRule ^contact-form/([0-9]+)$ controllers/developer/contact-form/contactForm.php?contactformid=$1 [L]

# SELL PROPERTY
RewriteRule ^sell-property$ controllers/developer/sell-property/sellProperty.php [L]
RewriteRule ^sell-property/([0-9]+)$ controllers/developer/sell-property/sellProperty.php?sellid=$1 [L]

# NOTIFICATION
RewriteRule ^receiver$ controllers/developer/notification/receiver/notification.php [L]
RewriteRule ^receiver/([0-9]+)$ controllers/developer/notification/receiver/notification.php?notificationid=$1 [L]
RewriteRule ^receiver/active/([0-9]+)$ controllers/developer/notification/receiver/active.php?notificationid=$1 [L]
RewriteRule ^receiver/page/([0-9]+)$ controllers/developer/notification/receiver/page.php?start=$1 [L]
RewriteRule ^receiver/search$ controllers/developer/notification/receiver/search.php [L]

### Settings - Roles ###
RewriteRule ^role$ controllers/developer/settings/role/role.php [L]
RewriteRule ^role/([0-9]+)$ controllers/developer/settings/role/role.php?roleid=$1 [L]
RewriteRule ^role/active/([0-9]+)$ controllers/developer/settings/role/active.php?roleid=$1 [L]
RewriteRule ^role/search$ controllers/developer/settings/role/search.php [L]
RewriteRule ^role/page/([0-9]+)$ controllers/developer/settings/role/page.php?start=$1 [L]

### Settings - USER ###
RewriteRule ^user$ controllers/developer/settings/user/user.php [L]
RewriteRule ^user/([0-9]+)$ controllers/developer/settings/user/user.php?userid=$1 [L]
RewriteRule ^user/page/([0-9]+)$ controllers/developer/settings/user/page.php?start=$1 [L]
RewriteRule ^user/search$ controllers/developer/settings/user/search.php [L]
RewriteRule ^user/active/([0-9]+)$ controllers/developer/settings/user/active.php?userid=$1 [L]
RewriteRule ^user/verify-email/(.*)$ controllers/developer/settings/user/update-email.php?userkey=$1 [L]
RewriteRule ^user/key/(.*)$ controllers/developer/settings/user/key.php?userkey=$1 [L]
RewriteRule ^user/password$ controllers/developer/settings/user/set-password.php [L]
RewriteRule ^user/login$ controllers/developer/settings/user/login.php [L]
RewriteRule ^user/token$ controllers/developer/settings/user/token.php [L]
RewriteRule ^user/reset$ controllers/developer/settings/user/reset-password.php [L]
RewriteRule ^user/role$ controllers/developer/settings/user/role.php [L] 

### ACCOUNT CHANGE PASSWORD ###
RewriteRule ^account/other/update-password$ controllers/developer/account/other/account-change-password.php [L] 
 